<!DOCTYPE html>
<html>
<head>
	<title>DjangoGirls Blog</title>
</head>
<body>
	<div>
		<h1><a href="">Django Girls Blog</a></h1>
	</div>
	<div>
		<p>published: Dec 12, 2015</p>
		<h2><a href="">My first post</a></h2>
		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.</p>
	</div>
		<div>
		<p>published: Dec 11, 2015</p>
		<h2><a href="">My second post</a></h2>
		<p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>
</body>
</html>